<%- include("../../meta/meta", {title: "View Product" }) %>
    <link rel="stylesheet" href="/static/styles/forms.css">
    <link rel="stylesheet" href="/static/styles/products.css">

    <script src="/static/scripts/product.management.js" defer></script>

    </head>

    <body>
        <%- include("../../layouts/header") %>
            <main>
                <h1>
                    View Product
                </h1>

                <form action="" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" id="_csrf" value="<%= locals.csrf %>">

                    <%- include("info", { product: product }) %>

                        <section>
                            <div>
                                <a href="/admin/products" class="btn btn-alt">Cancel</a>
                                <button class="btn">Update</button>
                            </div>
                            <div>
                                <button type="button" id="product-delete" class="btn btn-del"
                                    data-product-id="<%= product._id %>" data-csrf="<%= locals.csrf %>">Delete</button>
                            </div>
                        </section>
                </form>
            </main>
            <%- include("../../layouts/footer") %>